body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #222;
    overflow: hidden;
}

canvas {
    display: block;
    background: #00FF00;
}